@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

@font-face {
  font-family: Circe;
  src: url('../assets/fonts/Circe-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Circe;
  src: url('../assets/fonts/Circe-Bold.ttf');
  font-weight: 700;
}
