body {
  background-color: #e7eaf2;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-image: url(./assets/bg/Ellipse_pink.png),
      url(./assets/bg/Ellipse_purple.png);
    background-position: top 0px right 0px, bottom 0px left 0px;
  }
}
